---
layout: default
title: "关于"
description: "网站作者是谁？"
---

<div class="about {% if site.scrollappear_enabled %}scrollappear{% endif %}">

  {% include image.html path="documentation/about.png" path-detail="documentation/about.png" alt="about" width="150" style="display:inline;" %}  

    <p><br><B>少亭</B><br>
    目前在杭州上班、写小说、拍照片。<br>
    肉身大部分时候是个产品经理。<br><br>

    <b>尝试一次性完成两件事情：</b><br>
    1. 通过一些创造性工作，把模糊的虚无分辨清楚。<br>
    2. 在此过程中，自我感动和过度抒情得到有效控制。<br>
    

    <br>
    <b>曾获奖项：</b><br>
    1. 🏆 2006 年美国《时代周刊》年度风云人物。<br>
    2. 🏆 2008 年感动中国年度人物组委会特别奖。<br>
    3. 🏆 2022 年奥林匹克奖杯获得者。<br>
    
    <br>
    <br>你可以通过<a href="mailto:{{ site.social.email }}?subject=你好。" title="Email">邮件</a>联系我。</p>


</div>
