<nav class="header-nav {% if site.scrollappear_enabled %}scrollappear{% endif %}">
  <a href="{{ '/' | relative_url }}" class="header-logo" title="{{ site.name }}">🚶</a>
  <ul class="header-links">
    {% if site.about_enabled == true %}
      <li>
        <a href="{{ 'about' | relative_url }}" title="关于">
          关于
        </a>
      </li>
    {% endif %}
    
    {% if site.social.email %}
      <li>
        <a href="mailto:{{ site.social.email }}?subject=你好。" title="邮件">
          邮件
        </a>
      </li>
    {% endif %}
    {% if site.rss_enabled == true %}
      <li>
        <a href="{{ 'feed.xml' | relative_url }}" rel="noreferrer noopener" target="_blank" title="RSS">
          RSS
        </a>
      </li>
    {% endif %}
  </ul>
</nav>

{% if site.tag_nav_enabled %}
  <ul class="header-tags {% if site.scrollappear_enabled %}scrollappear{% endif %}">
    {% assign tags = site.tags | sort %}
    {% for tag in tags %}
      {% if forloop.index > 10 %}
        <li>...</li>
        <li><a href="/tags">Show all</a></li>
        {% break %}
      {% endif %}
        <li><a href="{{ 'tag/' | relative_url }}{{ tag[0] }}">{{ tag[0] | capitalize }}</a></li>
    {% endfor %}
  </ul>
{% endif %}
