<!doctype html>
<html lang="en">
{% include head.html %}
<body>
  <main>
    <div class="grid grid-centered">
      <div class="grid-cell">
        {% include navigation.html %}
        <article class="article {% if site.scrollappear_enabled %}scrollappear{% endif %}">
          <header class="article-header">
            <h1>{{ page.title }}</h1>
            {% include article/info-footer.html post=page %}
          </header>

          <div class="article-content">
            {{ content }}
          </div>

          <div class="article-comments">
            <p>看完了，就说点什么吧</p>
            <textarea id="comment"></textarea>
            <button onclick="sendMail()">好了</button>
          </div>

        </article>
        {% include footer.html %}
      </div>
    </div>
  </main>
  {% include javascripts.html %}
</body>
</html>
