// =============================================================================
// Footer
// =============================================================================

.footer {
  display: block;
  padding-top: 50px;
  margin-bottom: 85px;
  p {
    font-size: 13px;
    color: $gray-light;
  }
  a {
    text-decoration: none;
  }
}
